body {
    background-color: white;
    background-image:url("http://i.annihil.us/u/prod/marvel/i/mg/2/00/53710b14a320b.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; 
}
h1 {
    color: black;
    font-family: Fullwidth;
    font-size: 200%;
    text-align: center;
    letter-spacing: 10;
}
p {
    color: red;
    font-family: Arial;
    font-size: 160%;
    height: 100px;
    width: 1000px;
}
caption {
    font-size: 160%;
}
dd {
    font-size:160%;
}
dt {
    font-size:160%;
}
/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}
