body {
    background-color: white;
    background-image:url("http://i.annihil.us/u/prod/marvel/i/mg/2/00/53710b14a320b.png");
}
h1 {
    color: blue;
    font-family: Fullwidth;
    font-size: 200%;
    text-align: center;
    letter-spacing: 10;
}
p {
    color: red;
    font-size: 160%;
}
