body {
    background-color: white;
    background-image:url("http://i.annihil.us/u/prod/marvel/i/mg/2/00/53710b14a320b.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; 
}
h1 {
    color: black;
    font-family: Fullwidth;
    font-size: 200%;
    text-align: center;
    letter-spacing: 10;
}
p {
    color: red;
    font-family: Arial;
    font-size: 160%;
    height: 100px;
    width: 1000px;
}
h4 {
    color:red;
    font-family: Fullwidth;
    font-size: 200%;
    letter-spacing: 5;
}
caption {
    font-size: 160%;
}
dd {
    font-size:160%;
}
dt {
    font-size:160%;
}
ul {
    list-style-image: url('arrow.png');
    list-style-position: inside;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: yellow;
}

<html>
<head>
<title>SubMenus</title>
<style type='text/css'>

</style>
</head>
<body>

<h1>Fundamentals of Web Programming</h1>

<nav>
<ul >
 <li><a href='/'>Home</a></li>
 <li><a href='#'>Syllabus</a>
  <ul>
   <li><a href='#'>Sample1</a></li>
   <li><a href='#'>Office Hours</a></li>
   <li><a href='#'>Grading Policy</a></li>
   <li><a href='#'>Learning Goals</a></li>
  </ul>
 </li>
 <li><a href='#'>Resources</a></li>
 <li><a href='#'>Publications</a>
  <ul>
   <li><a href='#'>Articles</a></li>
   <li><a href='#'>Tutorials</a>
    <ul>
     <li><a href='#'>HTML</a></li>
     <li><a href='#'>CSS</a></li>
     <li><a href='#'>SVG</a></li>
     <li><a href='#'>XML</a></li>
    </ul>
   </li>
   <li><a href='#'>Assignments</a></li>
  </ul>
 </li>
 <li><a href='#'>Contact</a></li>
</ul>
</nav>

<main>
<p>
I need to add words here as a placeholder until i figure out how droptabs open. 
Hopefully this makes two lines using the properties of paragraphs
</p>
</main>
</body>
</html>

